@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 214 100% 97%;        /* blue-50 */
    --foreground: 0 0% 9%;           /* neutral-900 */

    --text: 0 0% 9%;                 /* neutral-900 */
    --text-list: 0 0% 25%;            /* neutral-700 */

    --primary: 227 59% 21%;           /* blue-950 */
    --secondary: 216 100% 58%;         /* blue-500 */

    --success: 144 100% 39%;           /* green-500 */
    --info: 216 100% 58%;              /* blue-500 */
    --warning: 44 100% 47%;            /* yellow-500 */
    --destructive: 357 96% 58%;               /* red-500 */

    --card: 0 0% 100%;
    --card-foreground: var(--text);

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: var(--primary);

    --radius: 0.5rem;
  }

  .dark {
    --background: 214 100% 97%;        /* blue-50 */
    --foreground: 0 0% 9%;           /* neutral-900 */

    --text: 0 0% 9%;                 /* neutral-900 */
    --text-list: 0 0% 25%;            /* neutral-700 */

    --primary: 227 59% 21%;           /* blue-950 */
    --secondary: 216 100% 58%;         /* blue-500 */

    --success: 144 100% 39%;           /* green-500 */
    --info: 216 100% 58%;              /* blue-500 */
    --warning: 44 100% 47%;            /* yellow-500 */
    --destructive: 357 96% 58%;               /* red-500 */

    --card: 226 71% 11%;
    --card-foreground: var(--text);

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: var(--secondary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.form-label-geist {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5%;
  color: rgb(55 65 81); 
}

.form-label-geist .asterisk {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5%;
  color: rgb(239 68 68); 
}


.form-input-custom {
  background-color: white !important;
  border: 1px solid #D4D4D4 !important;
  border-radius: 8px !important; 
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5%;
}

.form-input-custom::placeholder {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5%;
  color: #737373 !important;
}

.form-input-custom:focus {
  border-color: #737373 !important; 
  box-shadow: 0px 1px 2px 0px #0000000D !important;
  outline: none !important;
}

.form-input-disabled {
  background-color: #F9FAFB !important;
  border: 1px solid #D4D4D4 !important;
  border-radius: 8px !important;
  color: #6B7280 !important; 
  cursor: not-allowed !important;
}