@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 214 100% 97%;        /* blue-50 */
    --foreground: 0 0% 9%;           /* neutral-900 */

    --text: 0 0% 9%;                 /* neutral-900 */
    --text-list: 0 0% 25%;            /* neutral-700 */

    --primary: 227 59% 21%;           /* blue-950 */
    --primary-hover: 225 67% 33%;     /* blue-800 */
    --secondary: 216 100% 58%;         /* blue-500 */

    --success: 144 100% 39%;           /* green-500 */
    --info: 216 100% 58%;              /* blue-500 */
    --warning: 44 100% 47%;            /* yellow-500 */
    --destructive: 357 96% 58%;               /* red-500 */

    --card: 0 0% 100%;
    --card-foreground: var(--text);

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: var(--primary);

    --muted: 214 32% 91%;
    --popover: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 214 100% 97%;        /* blue-50 */
    --foreground: 0 0% 9%;           /* neutral-900 */

    --text: 0 0% 9%;                 /* neutral-900 */
    --text-list: 0 0% 25%;            /* neutral-700 */

    --primary: 227 59% 21%;           /* blue-950 */
    --primary-hover: 225 67% 33%;     /* blue-800 */
    --secondary: 216 100% 58%;         /* blue-500 */

    --success: 144 100% 39%;           /* green-500 */
    --info: 216 100% 58%;              /* blue-500 */
    --warning: 44 100% 47%;            /* yellow-500 */
    --destructive: 357 96% 58%;               /* red-500 */

    --card: 226 71% 11%;
    --card-foreground: var(--text);

    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: var(--secondary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}